body {
    display: grid;
    grid-template-rows: repeat(6, 10%);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "Name Nav"                     
    "Job Job"
    "Welcome Welcome"
    "Photo Text"
    "Lang Desi"
    "Quote Quote";
    grid-auto-rows: 1fr;
    background-color: white;
    height: fit-content;
}

div, img {
    border: 1px dotted purple;
}

#Name {
    justify-self: center;
}
#Job {
    display: grid;
    grid-area: Job;
    justify-self: center;
}

#Nav {
    grid-area: Nav;
    justify-self: center;
    padding-top: 13px;
}

Nav li {
    display: inline;
 
    font-size: 21px;
    margin-inline-start: 36px;
    margin-inline: 16px;
}

#Welcome {
    grid-area: Welcome;
}

#Photo {
    grid-area: Photo;
    justify-self: center;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

#pic {
    height: 400px;
    width: 300px;
}

#Text {
    align-self: start;
    justify-self: center;
    line-height: 2;
    min-width: 425px;
    max-width: 425px;
}

#img1 {
    grid-area: Lang;
    justify-self: center;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: repeat(2, 1fr);
    height:fit-content;
    grid-template-areas: 
    "Prog Prog"
    "C Bash";
}

#Prog {
    grid-area: Prog;
    border: 2px solid pink;
    height: 20px;
}

#C {
    justify-self: center;
    grid-area: C;
}

#Bash {
    grid-area: Bash;
    justify-self: center;
    height: 110px;
    width: 110px;
}

#img2 {
    grid-area: Desi;
    justify-self: center;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    height: fit-content;
    grid-template-areas: 
    "Des Des"
    "Html CSS";
}

#Desi {
    grid-area: Des;
    border: 2px solid pink;
    justify-self: center;
    height: 20px;
}

#Html {
    grid-area: Html;
    justify-self: center;
}

#CSS {
    grid-area: CSS;
    justify-self: center;
    height: 110px;
    width: 110px;
}

/*#Null {
    grid-area: NULL;
}*/
#Quote {
    grid-area: Quote;
    justify-self: center;
    font-size: 25px;
    font-style: italic;
    width: 600px;
    grid-row-gap: 25px;
}

.caption {
    justify-self:center;
}
.lang {
    height: 100px;
    width: 100px;
}

.desi {
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 480px) {
    body {
        display: grid;
        grid-template-rows: repeat(9, 10%);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Name" 
        "Nav"                     
        "Job"
        "Welcome"
        "Photo" 
        "Text"
        "Lang" 
        "Desi"
        "Quote";
        grid-auto-rows: 1fr;
        justify-items: center;
    }
}